.pkm {
    width: 20vw;
    height: 20vw;
    padding: 2vw;
}
.img-logo{
    width: 35px;
    height: 35px;
}

input[type=radio] {
    display: none;
}

.pkm:hover {
    opacity: 0.9;
    cursor: pointer;
    border: 3px solid  #91352d;
    border-radius: 50%; 
}

.pkm:active {
    opacity: 0.9;
    cursor: pointer;
}

input[type=radio]:checked+.pkm {
    border: 3px solid  #91352d;
    border-radius: 50%; 
    
}
.modal-body{
    font-size: 1.5rem;
}
.btn-secondary{
    font-size: 1.5rem;
}
.btn{
    background-color: #91352d;
    border:none;
}
.btn:hover{
    border:none;
    background-color: #91352d;
}


@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    } 
}
.main{
    padding-top: 12%;
}
.bg-dark{
    background-color: #91352d!important;
}

.text{
    font-family: 'VT323', monospace;
    
}
.navbar-brand{
    font-size: 2rem;
    color:#f5f5f5!important;
}

.nav-link{
    color:#f5f5f5!important;
    font-size: 1.5rem;    
}
.nav-link:hover{
    color: #C89A96!important;  
}
button {
    transition-duration: 0.4s;
    padding: 16px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #91352d;
    font-family: 'VT323', monospace;
}

button:hover {
    background-color: #91352d; 
    border: 2px solid white;
    color: #f5f5f5;
}

